/*
Description: This file contains the CSS styles for the ChatArea component.
*/

/* ChatArea component styles */
.ChatArea {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80vw; 
  max-width: 900px; 
  margin: auto;
  font-size: 20px; 
  font-family: "Lexend", monospace;
  height: 65vh; 
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

/* Chat bubble formatting */
.message-container {
  display: flex;
  margin-bottom: 15px;
  padding: 8px 12px;
}

.user-message, .sustain-message {
  display: inline-block; /* Auto-resize based on text length */
  max-width: 60%; /* Prevent bubbles from being too wide */
  min-width: 10%; /* Avoid bubbles being too small */
  word-wrap: break-word; /* Ensure long words wrap correctly */
  white-space: normal; /* Allow normal text wrapping */
  padding: 14px 18px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lexend", monospace;
}

.user-message {
  background-color: #4CAD75;
  color: white;
  align-self: flex-end;
  text-align: left;
}

.sustain-message {
  background-color: #D4EDDA;
  color: #155724;
  align-self: flex-start;
  text-align: left;
}

.system-message {
  text-align: center;
  font-size: 16px;
  color: grey;
  font-style: italic;
  margin-top: 10px 0;
  margin-left: 5px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-end;
}

/* Savings text formatting */
.savings-text {
  font-size: 14px;
  color: grey;
  margin-top: 3px;
  font-style: italic;
  text-align: left;
  padding-left: 15px;
}