/**
 * Styles for the TokenSavings component.
 * Displays the token savings information with appropriate styling.
*/

.TokenSavings {
  margin: 20px;
  font-size: 18px;
  color: #3FA967;
  font-family: "Lexend", sans-serif;
}